DATABASE_PUBLIC_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME

# BD con tablas items (productos) y facturas_proveedor (proveedores)
DATABASE_CATALOGO_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME

ALEGRA_API_URL=https://api.alegra.com/api/v1
ALEGRA_USER=tu_usuario_alegra
ALEGRA_TOKEN=tu_token_alegra
